{"openapi":"3.0.1","info":{"title":"Uniconnect API","description":"Documentazione delle API di Uniconnect","version":"v1"},"servers":[{"url":"https://plotfail.ndrw.cat/api"},{"url":"http://localhost:8080/api"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Utente","description":"User management"},{"name":"Storia","description":"Story management"},{"name":"Template","description":"Template management"}],"paths":{"/utente/signup":{"post":{"tags":["Utente"],"summary":"Register user","operationId":"signup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrazioneRequest"}}},"required":true},"responses":{"409":{"description":"User already exists"},"400":{"description":"Bad request"},"500":{"description":"Internal server error"},"200":{"description":"User registered"}}}},"/utente/logout":{"post":{"tags":["Utente"],"summary":"Logout user","operationId":"logout","responses":{"200":{"description":"User logged out"},"500":{"description":"Internal server error"}}}},"/utente/login":{"post":{"tags":["Utente"],"summary":"Login user","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"401":{"description":"Credentials not valid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"200":{"description":"User logged in","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/template/use-template/{id}":{"post":{"tags":["Template"],"summary":"Use template","operationId":"likeTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateResponse"}}}},"404":{"description":"Template not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateResponse"}}}},"200":{"description":"Template used","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateResponse"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateResponse"}}}}}}},"/template/save/{id}":{"post":{"tags":["Template"],"summary":"Save template","operationId":"saveTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request"},"404":{"description":"Template not found"},"500":{"description":"Internal server error"},"200":{"description":"Template saved"},"401":{"description":"Unauthorized"}}}},"/template/genera-storia":{"post":{"tags":["Template"],"summary":"Generate story from template","operationId":"generaStoria","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeneraStoriaRequest"}}},"required":true},"responses":{"200":{"description":"Story generated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeneraStoriaResponse"}}}},"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeneraStoriaResponse"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeneraStoriaResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeneraStoriaResponse"}}}}}}},"/storia":{"get":{"tags":["Storia"],"summary":"Get all stories of user","operationId":"findAll","responses":{"200":{"description":"Stories retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoriaCompactResponse"}}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoriaCompactResponse"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoriaCompactResponse"}}}}}}},"post":{"tags":["Storia"],"summary":"Save a story","operationId":"salvaStoria","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreaStoriaRequest"}}},"required":true},"responses":{"400":{"description":"Bad request"},"200":{"description":"Story created"},"500":{"description":"Internal server error"},"401":{"description":"Unauthorized"}}}},"/storia/toggle-public/{id}":{"post":{"tags":["Storia"],"summary":"Toggle public status","operationId":"togglePublicStoria","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request"},"200":{"description":"Public status toggled"},"404":{"description":"Story not found"},"500":{"description":"Internal server error"},"401":{"description":"Unauthorized"}}}},"/utente/me":{"get":{"tags":["Utente"],"summary":"Get current user","operationId":"getMe","responses":{"500":{"description":"Internal server error","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"User retrieved","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/template":{"get":{"tags":["Template"],"summary":"Get all templates","operationId":"getTemplates","responses":{"200":{"description":"Templates retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TemplateCompactResponse"}}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TemplateCompactResponse"}}}}}}}},"/template/{id}":{"get":{"tags":["Template"],"summary":"Get template by id","operationId":"getTemplateById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateResponse"}}}},"404":{"description":"Template not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateResponse"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateResponse"}}}},"200":{"description":"Template retrieved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TemplateResponse"}}}}}}},"/template/trending":{"get":{"tags":["Template"],"summary":"Get trending templates","operationId":"getTrendingTemplates","responses":{"200":{"description":"Trending templates retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TemplateCompactResponse"}}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TemplateCompactResponse"}}}}}}}},"/template/saved":{"get":{"tags":["Template"],"summary":"Get saved templates","operationId":"getSavedTemplates","responses":{"200":{"description":"Saved templates retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TemplateCompactResponse"}}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TemplateCompactResponse"}}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TemplateCompactResponse"}}}}}}}},"/storia/{id}":{"get":{"tags":["Storia"],"summary":"Get story by id","operationId":"findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoriaResponse"}}}},"200":{"description":"Story retrieved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoriaResponse"}}}},"404":{"description":"Story not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoriaResponse"}}}},"500":{"description":"Internal server error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoriaResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoriaResponse"}}}}}},"delete":{"tags":["Storia"],"summary":"Delete story","operationId":"eliminaStoria","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Story deleted"},"400":{"description":"Bad request"},"404":{"description":"Story not found"},"500":{"description":"Internal server error"},"401":{"description":"Unauthorized"}}}},"/storia/public":{"get":{"tags":["Storia"],"summary":"Get all public stories","operationId":"findPublicStories","responses":{"500":{"description":"Internal server error","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoriaCompactResponse"}}}}},"200":{"description":"Public stories retrieved","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoriaCompactResponse"}}}}}}}},"/template/unsave/{id}":{"delete":{"tags":["Template"],"summary":"Unsave template","operationId":"deleteTemplate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad request"},"404":{"description":"Template not found"},"500":{"description":"Internal server error"},"200":{"description":"Template unsaved"},"401":{"description":"Unauthorized"}}}}},"components":{"schemas":{"RegistrazioneRequest":{"required":["password","username","verificaPassword"],"type":"object","properties":{"username":{"type":"string","description":"Username","example":"user123"},"password":{"type":"string","description":"Password","example":"password123"},"verificaPassword":{"type":"string","description":"Password verification","example":"password123"}},"description":"User registration request"},"LoginRequest":{"required":["password","username"],"type":"object","properties":{"username":{"type":"string","description":"Username","example":"user123"},"password":{"type":"string","description":"Password","example":"password123"}},"description":"User login request"},"TokenResponse":{"type":"object","properties":{"token":{"type":"string","description":"JWT token","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},"description":"Authentication token response"},"TemplateResponse":{"type":"object","properties":{"id":{"type":"integer","description":"Template ID","format":"int64","example":1},"titolo":{"type":"string","description":"Template title","example":"Fantasy Adventure"},"contenuto":{"type":"string","description":"Template content","example":"A hero's journey..."},"categoria":{"type":"string","description":"Template category","example":"FANTASY"},"status":{"type":"string","description":"Generation status","enum":["PROCESSING","COMPLETED","FAILED"]},"storieCreateCount":{"type":"integer","description":"Stories created count","format":"int32","example":10},"used":{"type":"boolean","description":"Is used","example":false},"saved":{"type":"boolean","description":"Is saved","example":true}},"description":"Template response"},"GeneraStoriaRequest":{"required":["categoria"],"type":"object","properties":{"categoria":{"type":"string","description":"Story category","enum":["FUNNY","DARK","SAD"]}},"description":"Generate story from template"},"GeneraStoriaResponse":{"type":"object","properties":{"id":{"type":"integer","description":"Story ID","format":"int64","example":1},"categoria":{"type":"string","description":"Story category","enum":["FUNNY","DARK","SAD"]},"status":{"type":"string","description":"Generation status","example":"COMPLETED"},"titolo":{"type":"string","description":"Story title","example":"My Story"},"contenuto":{"type":"string","description":"Story content","example":"Once upon a time..."}},"description":"Generated story response"},"CreaStoriaRequest":{"required":["contenuto","templateId","titolo"],"type":"object","properties":{"titolo":{"type":"string","description":"Story title","example":"My Story"},"contenuto":{"type":"string","description":"Story content","example":"Once upon a time..."},"pubblico":{"type":"boolean","description":"Is public","example":false},"templateId":{"type":"integer","description":"Template ID","format":"int64","example":1}},"description":"Create story request"},"TemplateCompactResponse":{"type":"object","properties":{"id":{"type":"integer","description":"Template ID","format":"int64","example":1},"titolo":{"type":"string","description":"Template title","example":"Fantasy Adventure"},"preview":{"type":"string","description":"Template preview","example":"A hero's journey..."},"categoria":{"type":"string","description":"Template category","enum":["FUNNY","DARK","SAD"]},"storieCreateCount":{"type":"integer","description":"Stories created count","format":"int32","example":10}},"description":"Compact template response"},"StoriaCompactResponse":{"type":"object","properties":{"id":{"type":"integer","description":"Story ID","format":"int64","example":1},"titolo":{"type":"string","description":"Story title","example":"My Story"},"categoria":{"type":"string","description":"Story category","example":"FUNNY"},"autore":{"type":"string","description":"Story author","example":"user123"},"preview":{"type":"string","description":"Story preview"},"public":{"type":"boolean"}},"description":"Compact story response"},"StoriaResponse":{"type":"object","properties":{"id":{"type":"integer","description":"Story ID","format":"int64","example":1},"titolo":{"type":"string","description":"Story title","example":"My Story"},"autore":{"type":"string","description":"Story author","example":"user123"},"contenuto":{"type":"string","description":"Story content","example":"Once upon a time..."},"templateId":{"type":"integer","description":"Template ID","format":"int64","example":1},"categoria":{"type":"string","description":"Story category","example":"FUNNY"},"pubblico":{"type":"boolean"}},"description":"Story response"}},"securitySchemes":{"bearerAuth":{"type":"http","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}